@import url("./variables.css");
@import url("./responsive.css");


header {
    background: url(../../images/backgrounds/abstract_white_bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .welcome-title-content {
    width: 50%;
    margin: 5rem;
}

header .welcome-title {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    line-height: 3rem;
    word-wrap: none;
    color: var(--blue);
    text-transform: uppercase;
}


header .welcome-title strong {
    color: var(--blue);
    font-size: 4.7rem;
    font-weight: 900;
}

header .welcome-sub-title {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: .6rem;
    color: var(--light-dark);
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

header .form-container {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecd7c5", endColorstr="#ff9300", GradientType=1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow-level-4);
    padding: 2rem;
    transition: .1s all ease;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.form-container .registration-form .registration-form-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 6px;
}

.form-container .registration-form.active {
    transform: scale(1);
}

.form-container .registration-form .input-box {
    margin-bottom: 1rem;
}

.form-container .registration-form .input-box span {
    font-size: 1rem;
    color: var(--grey);
}

select {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    letter-spacing: 1px;
    color: var(--light-dark);
    border: none;
    border-radius: .5rem;
    padding: .8rem;
    background: #f8f8f8a9;
    box-shadow: inset 0 1rem 2rem 0 rgba(0, 0, 0, .04);
    width: 100%;
    text-transform: none;
    margin: 1rem 0;
    transition: .2s all ease;
}

select:focus {
    outline: none;
}

.form-container .registration-form .input-box input {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    letter-spacing: 1px;
    color: var(--light-dark);
    border: none;
    border-radius: .5rem;
    padding: .8rem;
    background: #f8f8f8a9;
    box-shadow: inset 0 1rem 2rem 0 rgba(0, 0, 0, .04);
    width: 100%;
    text-transform: none;
    margin: .2rem 0;
    transition: .2s all ease;
}

.form-container .registration-form .input-box input:focus {
    outline: none;
    border-right: 9px solid var(--blue);
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container .btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    background: var(--blue);
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: var(--white);
    margin-top: 1rem;
    padding: .7rem;
    transition: .3s all ease;
    cursor: pointer;
    opacity: .7;
}


.button-container .btn:hover {
    transform: translateY(-1px);
    opacity: 1;
}

.button-container .btn.login {
    background: var(--grey);
    text-decoration: none;
    color: var(--white);
    text-align: center;
}

.button-container .btn.proceed {
    background: var(--blue);
    text-align: center;
    text-decoration: none;
    display: none;
}

.button-container .btn.proceed.visible {
    display: block;
}

.button-container .btn.register {
    background: var(--blue);
    text-align: center;
    text-decoration: none;
}



@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header .welcome-title-content {
        margin: 5rem 1rem;
        padding: 2rem;
        width: 100%;
    }
}

@media (max-width:376px) {
    header .welcome-title {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    header .welcome-title strong {
        font-size: 2.4rem;
    }
}