/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("./variables.css");
@import url("./responsive.css");

.logo {
    width: 90%;
    background: rgba(253, 253, 253, 0.05);
    border-radius: 12px;
    padding: 1rem;
    -webkit-box-shadow: var(--shadow-level-2);
    box-shadow: var(--shadow-level-2);
    cursor: pointer;
}


.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 6%;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navigation .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
}

.navigation .nav-links .link-item {
    list-style: none;
    text-transform: uppercase;
}

.navigation .nav-links .link-item .link {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
    letter-spacing: 1.4px;
}

.cta-hero {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: .9rem;
    color: var(--white);
    letter-spacing: 1.4px;
    background: var(--blue);
    border: none;
    border-radius: 9px;
    padding: 1rem;
    width: 120px;
    cursor: pointer;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

.cta-hero a {
    color: var(--white);
    text-decoration: none;
}

.cta-hero:hover {
    opacity: .7;
}

.hero {
    background: url(../../images/backgrounds/hero_bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero .hero-content-wrapper {
    position: relative;
    z-index: 1000;
    top: 20%;
    padding: 2rem 9rem;
}

.hero .hero-content-wrapper .hero-text-content-wrapper .hero-title {
    font-size: 5rem;
    width: 30%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    line-height: 5.5rem;
    color: var(--blue);
}

.hero .hero-content-wrapper .hero-text-content-wrapper .hero-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 40%;
    margin: 2rem 0;
}

/**************************/
/* About section styling */
/**************************/
.about-us {
    text-align: center;
}

.about-section-title {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: var(--blue);
    margin-top: 5rem;
}

.about-us-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 5rem;
    width: 80%;
    margin: auto;
}

.mentor-img {
    width: 100%;
    border-radius: 21px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0 .6rem .6rem 0 rgba(0, 0, 0, .03);
}

.about-us-text .text-content {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.3rem;
}

.about-us-text .text-content span {
    color: var(--blue);
}

.image-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.image-title,
.mentor-name {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.image-title {
    color: #414141;
    font-weight: 700;
}

.mentor-name {
    color: #242424;
    font-weight: 900;
}

.about-us-video-wrapper {
    width: 100%;
    margin-top: 2rem;
    border-radius: 12px;
}


.about-us-video-wrapper video {
    width: 100%;
    border-radius: 12px;
}

/* Course section styling */
.course-section {
    background: var(--white-alt);
    text-align: center;
    padding: 4rem;
}

.course-section-title {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: var(--blue);
}

.course-levels {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    background: var(--white);
    padding: 1rem 6%;
    border-radius: 12px;
    -webkit-box-shadow: var(--shadow-level-2);
    box-shadow: var(--shadow-level-2);
}

.course-levels .course-level {
    list-style: none;
}

.course-levels .course-level a {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-decoration: none;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: -webkit-grab;
    cursor: grab;
    color: var(--blue);
    opacity: .4;
}

.course-levels .course-level a:hover {
    opacity: 1;
}

.course-levels .course-level a.active {
    color: var(--chartreuse);
    text-decoration: underline;
    opacity: 1;
}

/* Course video section styling */
.video-content-wrapper {
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 2rem 8rem;
}

.course video {
    width: 100%;
    border-radius: 12px;
}

.course-info-wrapper {
    text-align: left;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: .8rem;
    font-style: normal;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.7rem;
}

.course-info-wrapper .course-description {
    color: #858585;
    border-left: 3px solid var(--grey);
    padding-left: .5rem;
    margin: .3rem;
    cursor: pointer;
}

.course-info-wrapper .course-pricing {
    font-weight: 900;
    font-size: 1.1rem;
    background: var(--blue);
    color: var(--white);
    width: 55px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .02);
    opacity: .8;
}

/* Testimonial section styling */
.testimonials-title-wrapper {
    text-align: center;
    margin-top: 4rem;
}

.testimonials-title-wrapper h2 {
    color: var(--grey);
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    margin-bottom: 1rem;
}

.testimonials-title-wrapper h3 {
    color: var(--blue);
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    margin-bottom: 1rem;
}

.testimonials-title-wrapper h3 span {
    color: var(--chartreuse);
}

/* SLIDER */
.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* THIS creates the animation! */
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #888;
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -10rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: var(--blue);
    z-index: -1;
}

.testimonial__header {
    font-size: 2.25rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 500;
    color: var(--blue);
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    margin-bottom: 3.5rem;
    color: #666;
}

.testimonial__author {
    margin-left: 3rem;
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 6.5rem 2rem 1fr;
    grid-template-columns: 6.5rem 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.testimonial__photo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 500;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 1.5rem;
    color: var(--blue);
}

/* Events section styling */
.events {
    padding: 4rem;
}

.events .event-section-title {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: -webkit-grab;
    cursor: grab;
    color: var(--white);
    background: var(--blue);
    padding: 1rem;
    border-radius: 9px;
    box-shadow: var(--shadow-level-1);
    width: 15%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    opacity: .7;
}

.event-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
}

.event-poster {
    width: 100%;
    border-radius: 12px;
    opacity: .7;
    transition: .2s all ease;
}

.event-poster:hover {
    opacity: 1;
}

.event-title {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: -webkit-grab;
    cursor: grab;
    color: var(--grey);
    background: var(--blue);
    padding: 1rem;
    border-radius: 9px;
    width: 40%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: left;
    opacity: .7;
}

.event-description {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #666;
}

.event-pricing {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    background: var(--chartreuse);
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .03);
    color: var(--white);
    width: 16%;
    text-align: center;
    border-radius: 4px;
}

/* Contact section styling */
.contact {
    padding: 4rem;
    height: 100%;
    text-align: center;
}

.contact .heading {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: -webkit-grab;
    cursor: grab;
    color: var(--grey);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact .contact-sub-heading {
    font-size: 1.4rem;
    opacity: .7;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-decoration: none;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: -webkit-grab;
    cursor: grab;
    color: #242424;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact-sub-heading span {
    color: var(--chartreuse);
}

.contact-sub-heading strong {
    color: var(--blue);
    font-weight: 800;
}

.contact form {
    padding: 0 6rem;
}

.contact form,
input,
textarea {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.3rem;
    color: #242424;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--blue);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--blue);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--blue);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--blue);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--blue);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: var(--blue);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--blue);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--blue);
}

.contact form,
input::placeholder,
textarea::placeholder {
    color: var(--blue);
}

.contact input,
textarea {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: var(--white-alt);
    border: 1px solid var(--white-alt);
    border-radius: 6px;
}

.contact input:focus,
textarea:focus {
    outline: none;
}

.contact .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;

}

.contact form .contact-btn {
    width: 20%;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    cursor: pointer;
}

.contact form .contact-btn:hover {
    opacity: .7;
}

.footer-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 300px;
    background: var(--white-alt);
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-content-wrapper .box h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
}

.footer-content-wrapper .box-info {
    color: var(--blue);
    font-size: .9rem;
}

/* Copy Trading URL section styling */
.box .copy-trading-url {
    color: rgb(163, 163, 163);
    background: #a7a7a723;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: .3rem;
    border-radius: 3px;
}

.credit {
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: .8rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

.credit span {
    color: var(--blue);
}


/* MEDIA QUERIES */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}