/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1366px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 60%;
    }
}

@media (max-width:768px) {
    .about-section-title {
        margin-bottom: 2rem;
    }

    .about-us-content {
        padding: 5rem 1rem;
    }

    .course-levels {
        padding: 1rem 1rem;
    }

    .course-levels .course-level a {
        font-size: 1.2rem;
    }

    .events .event-section-title {
        width: 100%;
    }
}

@media (max-width:730px) {
    .navigation .nav-links {
        display: none;
    }
}

@media (max-width: 540px) {
    .hero .hero-content-wrapper {
        padding: 2rem 3rem;
        top: 40%;
    }

    .hero .hero-content-wrapper .hero-text-content-wrapper .hero-title {
        width: 100%;
    }

    .hero .hero-content-wrapper .hero-text-content-wrapper .hero-text {
        width: 90%;
    }

    .about-us-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about-section-title {
        margin-bottom: 0rem;
    }

    .course-levels {
        display: none;
    }

    .video-content-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 2rem 3rem;
    }

    .events {
        padding: 1rem;
    }

    .event-content-wrapper {
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2rem;
    }

    .contact {
        padding: 1rem;
    }

    .contact form {
        padding: 2rem;
    }

    .contact form .contact-btn {
        width: 100%;
    }

    .footer-content-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        gap: 2rem;
        padding: 2rem;
    }
}

@media (max-width:376px) {
    .dots {
        position: absolute;
        bottom: 0%;
        left: 50%;
    }

    .slider {
        height: 60rem;
    }
}


@media (max-width: 320px) {
    html {
        font-size: 60%;
    }

    .course-levels {
        display: none;
    }

    .video-content-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2rem;
    }

    .slider {
        height: 50rem;
    }

    .slider__btn {
        height: 4.5rem;
        width: 4.5rem;
    }

    .testimonial::before {
        font-size: 10rem;
    }

    .testimonial__header {
        font-size: 1.5rem;
    }

    .testimonial__text {
        font-size: 1.4rem;
    }

}