/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Color Palette */
:root {
    --chartreuse: #b82d2d;
    --blue: #144681;
    --green: #73993D;
    --white: #fff;
    --white-alt: #f1f1f1;
    --grey: #b8b8b8;

    /* Shadows */
    --shadow-level-1: 0 1rem 1rem 0 rgba(0, 0, 0, .1);
    --shadow-level-2: 0 2rem 2rem 0 rgba(0, 0, 0, .07);
    --shadow-level-3: 0 3rem 3rem 0 rgba(0, 0, 0, .07);
    --shadow-level-4: 0 4rem 4rem 0 rgba(0, 0, 0, .05);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

html {
    scroll-behavior: smooth;
}